{% extends 'base.html' %}
{% block navbar %}
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Analytics</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Radon Complexity <span class="sr-only">(current)</span></a></li>
        <li><a href="/radon/mi/">Radon Maintainability</a></li>
          <li><a href="/ruff/">Ruff Reports</a></li>
          <li><a href="/bandit/">Bandit Reports</a></li>
      </ul>
    </div>
  </div>
    {% endblock %}